<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HomePageTest_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>18/12/06 08:00:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBrowser()[pri:0, instance:com.ads.register.tests.HomePageTest@47c62251]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>18/12/06 08:00:44</td>   <td>10513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.initPages()[pri:0, instance:com.ads.register.tests.HomePageTest@47c62251]">&gt;&gt;initPages</td> 
<td>&nbsp;</td>  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>18/12/06 08:00:44</td>   <td>10581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.validateNavSignPageFromHomePage()[pri:0, instance:com.ads.register.tests.HomePageTest@47c62251]">validateNavSignPageFromHomePage</td> 
  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>18/12/06 08:00:48</td>   <td>14773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.navToHomePage()[pri:0, instance:com.ads.register.tests.HomePageTest@47c62251]">&lt;&lt;navToHomePage</td> 
<td>&nbsp;</td>  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>18/12/06 08:00:48</td>   <td>14902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.initPages()[pri:0, instance:com.ads.register.tests.HomePageTest@47c62251]">&gt;&gt;initPages</td> 
<td>&nbsp;</td>  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>18/12/06 08:00:48</td>   <td>14902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.validateNavRegPageFromHomePage()[pri:1, instance:com.ads.register.tests.HomePageTest@47c62251]">validateNavRegPageFromHomePage</td> 
  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>18/12/06 08:00:53</td>   <td>19309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.navToHomePage()[pri:0, instance:com.ads.register.tests.HomePageTest@47c62251]">&lt;&lt;navToHomePage</td> 
<td>&nbsp;</td>  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/12/06 08:00:53</td>   <td>19489</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterTest()[pri:0, instance:com.ads.register.tests.HomePageTest@47c62251]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667026744</td>   <td></td> </tr>
</table>
