<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.ads.register.tests.SignInPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tc001_ValidateLoginWithEmptyCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSingInPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc002_ValidateLoginWithInvalidCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc002_ValidateLoginWithValidCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initPages</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
