<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcfece">  <td>19/04/09 19:40:11</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBrowser()[pri:0, instance:com.ads.register.tests.SignInPageTest@7d9d1a19]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>19/04/09 19:40:45</td>   <td>33936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignInPageTest.initPages()[pri:0, instance:com.ads.register.tests.SignInPageTest@7d9d1a19]">&gt;&gt;initPages</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>19/04/09 19:40:45</td>   <td>34158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignInPageTest.validateSingInPage()[pri:0, instance:com.ads.register.tests.SignInPageTest@7d9d1a19]">validateSingInPage</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>19/04/09 19:40:48</td>   <td>36817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignInPageTest.initPages()[pri:0, instance:com.ads.register.tests.SignInPageTest@7d9d1a19]">&gt;&gt;initPages</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>19/04/09 19:40:48</td>   <td>36819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignInPageTest.tc002_ValidateLoginWithInvalidCredentials()[pri:1, instance:com.ads.register.tests.SignInPageTest@7d9d1a19]">tc002_ValidateLoginWithInvalidCredentials</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>19/04/09 19:40:49</td>   <td>37559</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterTest()[pri:0, instance:com.ads.register.tests.SignInPageTest@7d9d1a19]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
</table>
