<h2>Methods that were not run</h2><table>
<tr><td>com.ads.register.tests.SignInPageTest.tc001_ValidateLoginWithEmptyCredentials</td></tr>
<tr><td>com.ads.register.tests.SignInPageTest.tc002_ValidateLoginWithValidCredentials</td></tr>
</table>